<!doctype html>
{% extends 'Home.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
            <div class="card card-primary" style="width:1200px; margin-top:10px; margin-left:255px;">
              <div class="card-header">
                <h3 class="card-title">Admin Details</h3>


              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">EmailID</th>
                    <th scope="col">Password</th>
                    <th scope="col">Confirm Password</th>
                      <th scope="col">Image</th>
                       <th scope="col">Edit</th>
                       <th scope="col">Delete</th>

                  </tr>
                </thead>
                <tbody>
                 {% for i in data %}
                  <tr>

                    <td>{{i.Name}}</td>
                    <td>{{i.MobileNumber}}</td>
                    <td>{{i.EmailID}}</td>
                    <td>{{i.Password}}</td>
                    <td>{{i.ConfirmPassword}}</td>


                      <td><img src="{{ i.Image.url }}" width="30px" height="30px"></td>

                  <td>
                      <form action="{% url 'editadmin'  dataid=i.id %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-primary">Edit</button>
                      </form>
                  </td>
                 <td>
                     <form action="{% url 'deleteadmin' dataid=i.id %}">
                         <button type="submit" class="btn btn-primary">Delete</button>
                     </form>
                 </td>
                          </tr>

                  </tr>
                {% endfor %}
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

</body>
</html>
{% endblock %}