<!DOCTYPE html>
{% extends 'Home.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div class="card card-primary"style="width:70%; margin-top:10px; margin-left:20%;">
              <div class="card-header">
                <h3 class="card-title">Edit Admin</h3>
              </div><br>


              <!-- General Form Elements -->
              <form method="post" action="{% url 'updateadmin' dataid=data.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                  <label  class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{data.Name}}" >
                  </div>
                </div>
                   <div class="row mb-3">
                  <label  class="col-sm-2 col-form-label">MobileNumber</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="number" value="{{data.MobileNumber}}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label  class="col-sm-2 col-form-label">EmailID</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" value="{{data.EmailID}}" >
                  </div>
                </div>
                  <div class="row mb-3">
                  <label  class="col-sm-2 col-form-label">UserName</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" value="{{data.UserName}}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="pwd" value="{{data.Password}}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">ConfirmPassword</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="confpwd" value="{{data.ConfirmPassword}}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label  class="col-sm-2 col-form-label">File Upload</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="file" id="formFile" name="image" value="{{data.Image.url}}">
                  </div>
                </div>

                  <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Update Form</label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

</body>
</html>
{% endblock %}